.navbar {
    position: relative; 
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 100px;  
    padding: 0;
    background: transparent;  
}

.imageContainer {
    position: absolute;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;  
}

.navLinks {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    color: white;  
    z-index: 1;  
}

.navLinks li {
    cursor: pointer;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;  
}

.navLinks a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;  
        align-items: center;  
    }

    .navLinks {
        flex-direction: column;  
        gap: 1rem;
        margin-top: 1rem; 
    }
}

